<div class="col">
        <section class="card shadow-sm">
        <img src="{{this.img}}" alt="img">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p>{{this.description}}</p>          
            {{!-- <p>Doy las gracias por la Formacion recibida en 2022 que cambio mi vida en menos de 6 meses, brindandome una oportunidad de
            acceder de algo que me apasiona de forma gratuita, enseñandome sobre la importancia de las habilidades interpersonales,
            el trabajo en equipo y desde el primer dia mostrando su apoyo con la frase <strong>"Creemos en el enorme potencial que tienen"</strong> 
            </p> --}}
            <div class="d-flex justify-content-end align-items-center">
                <div class="btn-group">
                    <a href="https://santiagolmartinez.github.io/pizzeria-js/" target="_blank">
                        <button type="button" class="btn  btn-outline-dark w-100">Ver</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>