    <div class="px-3 py-2 bg-dark text-white">
            <div class="" id="navResp">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h1 class="">Santiago L Martinez</h1>
                    </a>
                    <ul class="nav navResp col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <i class="fa-solid fa-house"></i>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="#about" class="nav-link text-white">
                                <i class="fa-solid fa-user"></i> Sobre Mi
                            </a>
                        </li>
                        <li>
                            <a href="#portfolio" class="nav-link text-white">
                                <i class="fa-solid fa-briefcase"></i> Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#contacto" class="nav-link text-white">
                                <i class="fa-solid fa-house"></i>
                                Contacto
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>